/* Import fonts */
@import url(http://fonts.googleapis.com/css?family=Ruda:400,700,900);

.slider-horizontal {
  width: 800px !important;
}

.slider-tick-label {
  width: 73px !important;
}

#prediction .slider-rangeHighlight.orange {
  background: #FF9900;
}

.info {
  font-size: 24px;
  opacity: 0.7;
}

.map-marker.marker-1k {
  background: rgb(220, 168, 133);
  line-height: 34px;
  font-size: 12px;
}

.month-info {
  background: rgb(220, 168, 133);
  border-radius: 4%;
}

p {
  font-family: 'Ruda', sans-serif;
  color: white;
}
