/* Import fonts */
@import url(http://fonts.googleapis.com/css?family=Ruda:400,700,900);


* {
  margin: 0;
  padding: 0;
  border: none;
  font-family: Arial, sans-serif;
}

body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

html, body, #map {
  height: 100%;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

.navbar {
  padding: 0 14px;
}

.navbar-brand {
  font-family: 'Ruda', sans-serif;
}

.navbar-brand b {
  font-family: 'Ruda', sans-serif;
  color: #8cc1b5;
}

.navbar-brand b.orange {
  font-family: 'Ruda', sans-serif;
  color: #bd9064;
}

.nav-link {
  color: white;
  padding: 10px;
  font-family: 'Ruda', sans-serif;
}

.navbar-nav .active>.nav-link {
  background-color: #909497;
}

.sidebar {
  top: 50px;
  max-width: 340px;
}

.sidebar-tabs {
  background-color: rgba(0, 136, 111, 0.5) !important;
}

.sidebar-tabs>ul>li>a:hover {
  background-color: rgba(0, 71, 58, 0.733) !important;
}

.sidebar-tabs>ul>li.active {
  background-color: rgb(0, 95, 78) !important;
}

.sidebar-header {
  background-color: rgba(0, 71, 58, 0.733) !important;
}

.form-group {
  max-width: 220px;
}

.leaflet-left {
  left: 50px !important;
}

.leaflet-control-zoom {
  padding: 3px;
  background-color: rgba(255, 255, 255, 0.4) !important;
  border: none;
  box-shadow: none !important;
}

a.leaflet-control-zoom-in, .leaflet-control-zoom-out {
  background-color: rgba(0, 136, 111, 0.5) !important;
  color: white !important;
}

a.leaflet-control-zoom-in:hover, .leaflet-control-zoom-out:hover {
  background-color: rgba(0, 71, 58, 0.733) !important;
}

.map-marker {
  text-align: center;
  position: absolute;
  overflow: hidden;
  color: #fff;
  border-radius: 50%;
  filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.5));
}

.map-marker.marker-single {
  background: rgb(220, 168, 133);
  line-height: 34px;
  font-size: 16px;
}

.map-marker.marker-2k {
  background: rgb(210, 210, 210);
  line-height: 44px;
  font-size: 17px;
}

.map-marker.marker-6k {
  background: rgb(180, 180, 180);
  line-height: 64px;
  font-size: 18px;
}

.map-marker.marker-10k {
  background: rgb(100, 100, 100);
  line-height: 84px;
  font-size: 19px
}

.tooltip.in {
  opacity: 1;
}

.inner .show{
  max-width: 200px;
}

.div-70 {
  flex: 0 0 70% !important;
  max-width: 70% !important;
}

.div-30 {
  flex: 0 0 30% !important;
  max-width: 30% !important;
}

#map-prediction {
  height: 80%;
}

.vl {
  border-left: 2px solid #c1bdbd;
  height: 40px;
  padding-right: 10px;
}
