<!DOCTYPE html>
<html>
<head>
    <title>Dashboard Sífilis</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
		integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
		crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sidebar-v2@0.4.0/css/ol2-sidebar.min.css">

    <link rel="stylesheet" href="../static/stylesheet.css"/>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
        integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
        crossorigin=""/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/css/bootstrap-select.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.6.2/css/bootstrap-slider.min.css"
        integrity="sha256-G3IAYJYIQvZgPksNQDbjvxd/Ca1SfCDFwu2s2lt0oGo="
        crossorigin="anonymous" />

</head>
<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark" style="background-color: #f8f8f8;">
        <div class="container-fluid">
            <div class="row w-100">
                <div class="col-sm-6 div-70">
                    <div class="row">		
                        <a class="navbar-brand pt-2" href="/">Dashboard <b>Sífilis</b></a>
                        <ul class="navbar-nav">
                            <li class="nav-item active">
                                <a class="nav-link" href="/">Mapa</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/dashboard">Gráficos</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 div-30">
                    <div class="row">
                        <div class="vl"></div>
                        <a class="navbar-brand pt-2" href="/prediction">Predição <b class="orange">Doenças Infecciosas</b></a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <div id="sidebar" class="sidebar collapsed">
        <!-- Nav tabs -->
        <div class="sidebar-tabs">
            <ul role="tablist">
                <li><a href="#filters" role="tab"><i class="fa fa-filter"></i></a></li>
                <li><a href="#limits" role="tab"><i class="fa fa-globe"></i></a></li>
                <li><a href="#settings" role="tab"><i class="fa fa-gear"></i></a></li>
            </ul>
        </div>

        <!-- Tab panes -->
        <div class="sidebar-content">
            <div class="sidebar-pane" id="filters">
                <h1 class="sidebar-header">Filtros da Busca<span class="sidebar-close"><i class="fa fa-caret-left"></i></span></h1>
                <form action="{{ url_for('search') }}" method="get">

                    <div class="form-group">
                        <label class="pt-3" for="tipo"><b>Visualizar dados de </b></label>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="visualizar" id="notificacao"
                                value="notificacao" checked>
                            <label class="form-check-label" for="notificacao">
                                Notificação de Sífilis
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="visualizar" id="obito"
                                value="obito">
                            <label class="form-check-label" for="obito">
                                Óbitos por Sífilis
                            </label>
                        </div>
                    </div>

                    <!-- campo específico para notificações -->
                    <div class="form-group notification-field">
                        <label class="pt-3" for="diagnostico"><b>Diagnóstico</b></label>
                        <select name="diagnostico"
                                class="form-control selectpicker"
                                id="diagnostico"
                                data-live-search="true"
                                multiple
                                title="Todos">
                            <option value="1">Positivo</option>
                            <option value="0">Negativo</option>
                        </select>
                        <hr>
                    </div>

                    <div class="form-group notification-field">
                        <label class="pt-3" for="disease"><b>Agravo</b></label>
                        <select name="agravo"
                                class="form-control selectpicker"
                                id="disease"
                                data-live-search="true"
                                multiple
                                title="Todos">
                            <option value="adquirida">Sífilis Adquirida</option>
                            <option value="congenita">Sífilis Congenita</option>
                            <option value="gestacional">Sífilis Gestacional</option>
                        </select>
                        <hr>
                    </div>

                    <div class="form-group death-field">
                        <label class="pt-3" for="cid10"><b>CID-10</b></label>
                        <select name="causa"
                                class="form-control selectpicker"
                                id="causa"
                                data-live-search="true"
                                multiple
                                title="Todos">
                                <option value="A50">A50 - Sífilis congênita</option>
                                <option value="A500">A50.0 - Sífilis congênita precoce sintomática</option>
                                <option value="A501">A50.1 - Sífilis congênita precoce, forma latente</option>
                                <option value="A502">A50.2 - Sífilis congênita precoce não especificada</option>
                                <option value="A504">A50.4 - Neurossífilis congênita tardia (neurossífilis juvenil)</option>
                                <option value="A505">A50.5 - Outras formas tardias e sintomáticas da sífilis congênita</option>
                                <option value="A506">A50.6 - Sífilis congênita tardia latente</option>
                                <option value="A507">A50.7 - Sífilis congênita tardia não especificada</option>
                                <option value="A509">A50.9 - Sífilis congênita não especificada</option>
                                <option value="A51">A51 - Sífilis precoce</option>
                                <option value="A510">A51.0 - Sífilis genital primária</option>
                                <option value="A511">A51.1 - Sífilis anal primária</option>
                                <option value="A512">A51.2 - Sífilis primária de outras localizações</option>
                                <option value="A513">A51.3 - Sífilis secundária da pele e das mucosas</option>
                                <option value="A514">A51.4 - Outras formas de sífilis secundária</option>
                                <option value="A515">A51.5 - Sífilis precoce latente</option>
                                <option value="A519">A51.9 - Sífilis precoce não especificada</option>
                                <option value="A52">A52 - Sífilis tardia</option>
                                <option value="A520">A52.0 - Sífilis cardiovascular</option>
                                <option value="A521">A52.1 - Neurossífilis sintomática</option>
                                <option value="A522">A52.2 - Neurossífilis assintomática</option>
                                <option value="A523">A52.3 - Neurossífilis não especificada</option>
                                <option value="A527">A52.7 - Outras formas de sífilis tardia sintomática</option>
                                <option value="A528">A52.8 - Sífilis tardia latente</option>
                                <option value="A529">A52.9 - Sífilis tardia não especificada</option>
                                <option value="A53">A53 - Outras formas e as não especificadas da sífilis</option>
                                <option value="A530">A53.0 - Sífilis latente, não especificada se recente ou tardia</option>
                                <option value="A539">A53.9 - Sífilis não especificada</option>
                                <option value="O981">O98.1 - Sífilis complicando a gravidez, o parto e o puerpério</option>
                        </select>
                        <hr>
                    </div>

                    <!-- INÍCIO dos campos específicos para Sífilis Congênita-->
                    <!--<h5 class="ml-2 congenita-field d-none">Filtros Sífilis Congênita</h5>
                    <div class="ml-4 form-group congenita-field d-none">
                        <label class="pt-3" for="diagnosis"><b>Diagnóstico final</b></label>
                        <select name="diagnostico"
                                class="form-control selectpicker"
                                id="diagnosis"
                                data-live-search="true"
                                multiple
                                title="Todos">
                            <option value="1">Sífilis congênita recente</option>
                            <option value="2">Sífilis congênita tardia</option>
                            <option value="3">Aborto</option>
                            <option value="4">Natimorto</option>
                            <option value="5">Descartado</option>
                            <option value="9">Ignorado</option>
                            <option value="NA">Sem informação</option>
                        </select>
                        <hr>
                    </div>

                    <div class="ml-4 form-group congenita-field d-none">
                        <label class="pt-3" for="evolution"><b>Evolução</b></label>
                        <select name="evolucao"
                                class="form-control selectpicker"
                                id="evolution"
                                data-live-search="true"
                                multiple
                                title="Todos">
                            <option value="1">Cura</option>
                            <option value="2">Óbito pela sífilis</option>
                            <option value="3">Óbito por outra causa</option>
                            <option value="9">Ignorado</option>
                            <option value="NA">Sem informação</option>
                        </select>
                        <hr>
                    </div>

                    <div class="ml-4 form-group congenita-field d-none">
                        <label class="pt-3" for="diagnosis-mother"><b>Diagnóstico de sífilis materna</b></label>
                        <select name="diagnostico-mae"
                                class="form-control selectpicker"
                                id="diagnosis-mother"
                                data-live-search="true"
                                multiple
                                title="Todos">
                            <option value="1">Durante o pré-natal</option>
                            <option value="2">No momento do parto/curetagem</option>
                            <option value="3">Após o parto</option>
                            <option value="4">Não realizado</option>
                            <option value="9">Ignorado</option>
                            <option value="NA">Sem informação</option>
                        </select>
                        <hr>
                    </div>

                    <div class="ml-4 form-group congenita-field d-none">
                        <label class="pt-3" for="race-mother"><b>Raça/Cor da mãe</b></label>
                        <select name="raca-cor-mae"
                                class="form-control selectpicker"
                                id="race-mother"
                                data-live-search="true"
                                multiple
                                title="Todos">
                            <option value="1">Branca</option>
                            <option value="2">Preta</option>
                            <option value="3">Amarela</option>
                            <option value="4">Parda</option>
                            <option value="5">Indígena</option>
                            <option value="9">Ignorado</option>
                            <option value="NA">Sem informação</option>
                        </select>
                        <hr>
                    </div>

                    <div class="ml-4 form-group congenita-field d-none">
                        <label class="pt-3" for="age-mother"><b>Idade da mãe (anos)</b></label>
                        <input
                            type="text"
                            id="age-mother"
                            name="idade-mae"
                            data-provide="slider"
                            data-slider-ticks="[0, 100]"
                            data-slider-min="0"
                            data-slider-max="100"
                            data-slider-step="1"
                            data-slider-value="[0,100]"
                            data-slider-tooltip="always"
                            data-slider-tooltip-split="true"
                            data-slider-tooltip-position="bottom"
                        >
                        <hr>
                    </div>

                    <div class="ml-4 form-group congenita-field d-none">
                        <label class="pt-3" for="education-mother"><b>Escolaridade da mãe</b></label>
                        <select name="escolaridade-mae"
                                class="form-control selectpicker"
                                id="education-mother"
                                data-live-search="true"
                                multiple
                                title="Todas">
                            <option value="43">Analfabeto</option>
                            <option value="1">1a a 4a série incompleta do EF</option>
                            <option value="2">4a série completa do EF</option>
                            <option value="3">5a à 8a série incompleta do EF</option>
                            <option value="4">Ensino fundamental completo</option>
                            <option value="5">Ensino médio incompleto</option>
                            <option value="6">Ensino médio completo</option>
                            <option value="7">Educação superior incompleta</option>
                            <option value="8">Educação superior completa</option>
                            <option value="9">Ignorado</option>
                            <option value="10">Não se aplica</option>
                            <option value="NA">Sem informação</option>
                        </select>
                        <hr>
                    </div>

                    <div class="ml-4 form-group congenita-field d-none">
                        <label class="pt-3" for="prenatal"><b>Realizou pré-natal na gestação</b></label>
                        <select name="pre-natal"
                                class="form-control selectpicker"
                                id="prenatal"
                                data-live-search="true"
                                multiple
                                title="Todos">
                            <option value="1">Sim</option>
                            <option value="2">Não</option>
                            <option value="9">Ignorado</option>
                            <option value="NA">Sem informação</option>
                        </select>
                        <hr>
                    </div>

                    <div class="ml-4 form-group congenita-field d-none">
                        <label class="pt-3" for="partner"><b>Parceiro(s) tratado(s) concomitantemente</b></label>
                        <select name="parceiro"
                                class="form-control selectpicker"
                                id="partner"
                                data-live-search="true"
                                multiple
                                title="Todos">
                            <option value="1">Sim</option>
                            <option value="2">Não</option>
                            <option value="9">Ignorado</option>
                            <option value="NA">Sem informação</option>
                        </select>
                        <hr>
                    </div>
                    -->
                    <!-- FIM dos campos específicos para Sífilis Congênita-->


                    <div class="form-group">
                        <label class="pt-3" for="race"><b>Raça/Cor</b></label>
                        <select name="raca-cor"
                                class="form-control selectpicker"
                                id="race"
                                data-live-search="true"
                                multiple
                                title="Todas">
                            <option value="1">Branca</option>
                            <option value="2">Preta</option>
                            <option value="3">Amarela</option>
                            <option value="4">Parda</option>
                            <option value="5">Indígena</option>
                            <option value="9">Ignorado</option>
                            <option value="NA">Sem informação</option>
                        </select>
                    </div>
                    <hr>

                    <div class="form-group">
                        <label class="pt-3" for="gender"><b>Sexo</b></label>
                        <select name="sexo"
                                class="form-control selectpicker"
                                id="gender"
                                data-live-search="true"
                                multiple
                                title="Todos">
                            <option value="F">Feminino</option>
                            <option value="M">Masculino</option>
                            <option value="I">Ignorado</option>
                        </select>
                    </div>
                    <hr>

                    <div class="form-group">
                        <label class="pt-3" for="age"><b>Idade</b></label>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="faixa-etaria" id="menor1mes" value="menor1mes">
                            <label class="form-check-label" for="menor1mes">
                                Menor que 1 mes (em dias)
                            </label>
                        </div>
                        <div class="days d-none">
                            <input
                                type="text"
                                id="age-days"
                                name="idade-dias"
                                data-provide="slider"
                                data-slider-ticks="[0, 31]"
                                data-slider-min="0"
                                data-slider-max="31"
                                data-slider-step="1"
                                data-slider-value="[0,31]"
                                data-slider-tooltip="always"
                                data-slider-tooltip-split="true"
                                data-slider-tooltip-position="bottom"
                            >
                        </div>
                        <br>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="faixa-etaria" id="menor1ano" value="menor1ano">
                            <label class="form-check-label" for="menor1ano">
                                Menor que 1 ano (em meses)
                            </label>
                        </div>
                        <div class="months d-none">
                            <input
                                type="text"
                                id="age-months"
                                name="idade-meses"
                                data-provide="slider"
                                data-slider-ticks="[0, 12]"
                                data-slider-min="0"
                                data-slider-max="12"
                                data-slider-step="1"
                                data-slider-value="[0,12]"
                                data-slider-tooltip="always"
                                data-slider-tooltip-split="true"
                                data-slider-tooltip-position="bottom"
                            >
                        </div>
                        <br>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="faixa-etaria" id="maior1ano" value="maior1ano" checked>
                            <label class="form-check-label" for="maior1ano">
                                Maior que 1 ano (em anos)
                            </label>
                        </div>
                        <div class="years">
                            <input
                                type="text"
                                id="age-years"
                                name="idade-anos"
                                data-provide="slider"
                                data-slider-ticks="[0, 100]"
                                data-slider-min="0"
                                data-slider-max="100"
                                data-slider-step="1"
                                data-slider-value="[0,100]"
                                data-slider-tooltip="always"
                                data-slider-tooltip-split="true"
                                data-slider-tooltip-position="bottom"
                            >
                        </div>
                    </div>
                    <hr>
                    <!--
                    <div class="form-group">
                        <label class="pt-3" for="education"><b>Escolaridade</b></label>
                        <select name="escolaridade"
                                class="form-control selectpicker"
                                id="education"
                                data-live-search="true"
                                multiple
                                title="Todas">
                            <option value="43">Analfabeto</option>
                            <option value="1">1a a 4a série incompleta do EF</option>
                            <option value="2">4a série completa do EF</option>
                            <option value="3">5a à 8a série incompleta do EF</option>
                            <option value="4">Ensino fundamental completo</option>
                            <option value="5">Ensino médio incompleto</option>
                            <option value="6">Ensino médio completo</option>
                            <option value="7">Educação superior incompleta</option>
                            <option value="8">Educação superior completa</option>
                            <option value="9">Ignorado</option>
                            <option value="10">Não se aplica</option>
                            <option value="NA">Sem informação</option>
                        </select>
                    </div>
                    <hr>
                    -->

                    <div class="form-group">
                        <label class="pt-3" for="period"><b>Período (anos)</b></label>
                        <input
                            type="text"
                            id="period"
                            name="periodo"
                            data-provide="slider"
                            data-slider-ticks="[2000, 2017]"
                            data-slider-min="2000"
                            data-slider-max="2017"
                            data-slider-step="1"
                            data-slider-value="[2000,2017]"
                            data-slider-tooltip="always"
                            data-slider-tooltip-split="true"
                            data-slider-tooltip-position="bottom"
                        >
                    </div>
                    <hr>
                    <!--
                    <div class="form-group">
                        <label class="pt-3" for="health-facility"><b>Estabelecimento</b></label>
                        <select class="form-control selectpicker"
                                id="health-facility"
                                data-live-search="true"
                                multiple
                                title="Todos">
                            <option value="0">Sem informação</option>
                            <option value="1">Analfabeto</option>
                            <option value="2">Primeiro Grau</option>
                            <option value="3">Segundo Grau</option>
                            <option value="4">Terceiro Grau</option>
                        </select>
                    </div>
                    <hr>
                    -->

                    <div class="form-group">
                        <label class="pt-3" for="district"><b>Distrito</b></label>
                        <select class="form-control selectpicker"
                                id="district"
                                name="distrito"
                                data-live-search="true"
                                multiple
                                title="Todos">
                            {% for district in region.districts %}
                            <option value="{{ district.id }}">{{ district.nome }}</option>
                            {% endfor %}
                            <option value="0">Sem informação</option>
                        </select>
                    </div>
                    <hr>

                    <div class="form-group">
                        <label class="pt-3" for="subdistrict"><b>Subdistrito</b></label>
                        <select class="form-control selectpicker"
                                id="subdistrict"
                                name="subdistrito"
                                data-live-search="true"
                                multiple
                                title="Todos">
                            {% for subdistrict in region.subdistricts %}
                            <option value="{{ subdistrict.id }}">{{ subdistrict.nome }}</option>
                            {% endfor %}
                            <option value="0">Sem informação</option>
                        </select>
                    </div>
                    <hr>

                    <div class="form-group">
                        <label class="pt-3" for="neighborhood"><b>Bairro</b></label>
                        <select class="form-control selectpicker"
                                id="neighborhood"
                                name="bairro"
                                data-live-search="true"
                                multiple
                                title="Todos">
                            {% for neighborhood in region.neighborhoods %}
                            <option value="{{ neighborhood.id }}">{{ neighborhood.nome }}</option>
                            {% endfor %}
                            <option value="0">Sem informação</option>
                        </select>
                    </div>

                    <button type="submit" class="btn btn-primary m-3">Buscar</button>
                </form>
            </div>

            <div class="sidebar-pane" id="limits">
                <h1 class="sidebar-header">Limites Administrativos<span class="sidebar-close"><i class="fa fa-caret-left"></i></span></h1>
                <div class="form-check pt-3">
                    <input class="form-check-input" type="radio" name="limite" id="bairros" value="bairros">
                    <label class="form-check-label" for="bairros">
                        Bairros
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="limite" id="setores" value="setores">
                    <label class="form-check-label" for="setores">
                        Setores Censitários
                    </label>
                </div>
                <div class="form-check disabled">
                    <input class="form-check-input" type="radio" name="limite" id="distritos" value="distritos" disabled>
                    <label class="form-check-label" for="distritos">
                        Distritos Administrativos
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="limite" id="nenhum" value="" checked>
                    <label class="form-check-label" for="nenhum">
                        Nenhum
                    </label>
                </div>
            </div>

            <div class="sidebar-pane" id="settings">
                <h1 class="sidebar-header">Configurações<span class="sidebar-close"><i class="fa fa-caret-left"></i></span></h1>
                <label class="pt-3" for="heatmap"><b>Heatmap</b></label>
                <div class="form-check-heat pt-3">
                    <input class="form-check-input" type="radio" name="heatmap" id="number_cases" value="number_cases" checked>
                    <label class="form-check-label" for="number_cases">
                        Número de Casos
                    </label>
                </div>
                <div class="form-check-heat">
                    <input class="form-check-input" type="radio" name="heatmap" id="area" value="area">
                    <label class="form-check-label" for="area">
                        Área do Setor Censitário
                    </label>
                </div>
                <div class="form-check-heat">
                    <input class="form-check-input" type="radio" name="heatmap" id="density" value="density">
                    <label class="form-check-label" for="density">
                        Densidade Populacional
                    </label>
                </div>
            </div>
        </div>
    </div>

    <div id="map" class="sidebar-map"></div>

    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://openlayers.org/api/OpenLayers.js" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/sidebar-v2@0.4.0/js/jquery-sidebar.min.js"></script>
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>
    <script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"></script>
    <script src="https://unpkg.com/heatmap.js@2.0.5/build/heatmap.min.js"></script>
    <script src="https://unpkg.com/leaflet-heatmap@1.0.0/leaflet-heatmap.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/bootstrap-select.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.6.2/bootstrap-slider.min.js" integrity="sha256-oj52qvIP5c7N6lZZoh9z3OYacAIOjsROAcZBHUaJMyw=" crossorigin="anonymous"></script>

    <script type="text/javascript">
        var tiles = L.tileLayer('https://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}{r}.png', {
            maxZoom: 18,
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors &copy; <a href="https://carto.com/attributions">CARTO</a>'
        }),

        latlng = L.latLng(-22.925984, -43.432323);
        map = L.map('map', { center: latlng, zoom: 11, layers: [tiles] });

        var shape = null
        myStyle = {
            "color": "#444444",
            "opacity": 0.6,
            "stroke": true,
            "fill": true,
            "fillOpacity": 0.05,
        };

        $('.form-check input').on('change', function() {
            if(shape != null && shape != undefined) {
                shape.remove();
            }

            limite = $('input[name=limite]:checked', '.form-check').val();

            $.ajax({
                dataType: "json",
                url: "http://127.0.0.1:5000/"+limite,
                success: function(data) {
                    shape = new L.geoJson(data).addTo(map);
                    shape.setStyle(myStyle);
                }
            });
        });

        $('.form-check-heat input').on('change', function() {
            type = $('input[name=heatmap]:checked', '.form-check-heat').val();
            $.ajax({
                dataType: "json",
                data: {"value": type},
                url: "http://127.0.0.1:5000/heatmap"
            });
        });

        $('#sidebar').sidebar();

        $('select').selectpicker();

        $(document).ready(function () {
            //Para habilitar os campos de sífilis congenita quando esse agravo é selecionado
            //$("select#disease").on("changed.bs.select", function(e, clickedIndex, newValue, oldValue) {
            //    a = [this.value, clickedIndex, newValue, oldValue]
            //    if(oldValue.includes('congenita') && clickedIndex == 1) {
            //        $(".congenita-field").addClass("d-none");
            //    } else if(oldValue.includes('congenita') && clickedIndex != 1){
            //        $(".congenita-field").removeClass("d-none");
            //    } else if(clickedIndex != 1) {
            //        $(".congenita-field").addClass("d-none");                    
            //    } else {
            //        $(".congenita-field").removeClass("d-none");
            //    }
            //});
            $("input#menor1ano").change(function() {
                if(this.checked) {
                    $(".months").removeClass("d-none");
                    $(".years").addClass("d-none");
                    $(".days").addClass("d-none");
                }
            });
            $("input#maior1ano").change(function() {
                if(this.checked) {
                    $(".years").removeClass("d-none");
                    $(".months").addClass("d-none");
                    $(".days").addClass("d-none");
                }
            });
            $("input#menor1mes").change(function() {
                if(this.checked) {
                    $(".days").removeClass("d-none");
                    $(".years").addClass("d-none");
                    $(".months").addClass("d-none");
                }
            });
        }); 

        $( "input" ).on( "click", function() {
            if ($( "input:checked" ).val() == 'obito') {
                $(".notification-field").addClass("d-none");
                $(".death-field").removeClass("d-none");
            }
            if ($( "input:checked" ).val() == 'notificacao') {
                $(".notification-field").removeClass("d-none");
                $(".death-field").addClass("d-none");
            }
        });

        cluster = L.markerClusterGroup({
            chunkedLoading: true,
            iconCreateFunction: function(cluster) {
                var markers = cluster.getAllChildMarkers();
                var n = 0;
                for (var i = 0; i < markers.length; i++) {
                    n += markers[i].number;
                }

                if (n < 2000) {
                    className = 'map-marker marker-2k a-class';
                    size = 44;
                } else if (n < 6000) {
                    className = 'map-marker marker-6k a-class';
                    size = 64;
                } else if (n >= 10000) {
                    className = 'map-marker marker-10k a-class';
                    size = 84;
                }
                return L.divIcon({ html: n, className: className, iconSize: L.point(size, size) });
            },
        });

        max_heat = 0
        heatmap = []
        markerList = [];
        points = '{{ points|tojson }}';
        heatmap_type = JSON.parse('{{ heatmap_type|tojson }}');

        $.each(JSON.parse(points), function(i, value) {
            lat = value[0]
            lon = value[1]
            num_cases = value[2]
            heatmap_density = value[3]
            heatmap_area = value[4]

            icon = L.divIcon({ html: num_cases, className: 'map-marker marker-single a-class', iconSize: L.point(30, 30) });
            marker = L.marker(L.latLng(lat, lon), {icon: icon})
            marker.latlong = [lat, lon];
            marker.number = num_cases;
            marker.clusterOpen = false;
            marker.cluster = null;
            marker.id = num_cases;
            markerList.push(marker);

            if (num_cases > max_heat) {
                max_heat = num_cases
            }

            count_value = 0
            switch(heatmap_type) {
                case "number_cases":
                    count_value = num_cases
                    break;
                case "area":
                    count_value = heatmap_area
                    break;
                case "density":
                    count_value = heatmap_density
                    break;
            }
            heatmap.push({lat: lat, lng: lon, count: count_value});
        });

        cluster.addLayers(markerList);
        map.addLayer(cluster);

        grad = { 0.25: "#28CDAB", 0.625: "#fffd57", 1.0: "#e15858"};
        if ($( "input:checked" ).val() == 'obito') {
            grad = { 0.25: "#fcb045", 0.625: "#fd1d1d", 1.0: "#833ab4"};
        }

        var heatmap_config = {
            "radius": 40,
            "useLocalExtrema": true,
            latField: 'lat',
            lngField: 'lng',
            valueField: 'count',
            gradient: grad,
        };

        heatdata = {max: max_heat, data: heatmap}
        heat_layer = new HeatmapOverlay(heatmap_config);
        heat_layer.setData(heatdata);
        map.addLayer(heat_layer);

    </script>
</body>
</html>
