<!DOCTYPE html>
<html>
<head>
	<title>Dashboard Sífilis</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta charset="utf-8">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
		integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
		crossorigin="anonymous">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sidebar-v2@0.4.0/css/ol2-sidebar.min.css">

	<link rel="stylesheet" href="../static/stylesheet.css"/>
	<link rel="stylesheet" href="../static/dashboard.css"/>
	<link rel="stylesheet" href="../static/prediction.css"/>
	
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
		integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
		crossorigin=""/>
	
	<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css" />
	<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css" />

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.6.2/css/bootstrap-slider.min.css"
		integrity="sha256-G3IAYJYIQvZgPksNQDbjvxd/Ca1SfCDFwu2s2lt0oGo="
		crossorigin="anonymous" />

</head>
<body>
	<nav class="navbar navbar-expand-sm bg-dark navbar-dark" style="background-color: #f8f8f8;">
		<div class="container-fluid">
			<div class="row w-100">
				<div class="col-sm-6 div-70">
					<div class="row">		
						<a class="navbar-brand pt-2" href="/prediction">Predição <b class="orange">Doenças Infecciosas</b></a>
						<ul class="navbar-nav">
							<li class="nav-item active">
								<a class="nav-link" href="#">Dengue</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-sm-6 div-30">
					<div class="row">
						<div class="vl"></div>
						<a class="navbar-brand pt-2" href="/">Dashboard <b>Sífilis</b></a>
					</div>
				</div>
			</div>
		</div>
	</nav>

	<div id="map-prediction"></div>

	<form action="{{ url_for('predictionSearch') }}" method="get" id="prediction-form">
		<div class="row mx-auto mt-3" style="width: 1330px;">
			<div class="col mr-2">
				<div class="row month-info">
					<b><p class="m-1"> Casos em {{month}} de {{year}}</p></b>
					<p class="m-1"> Máx. anual de casos por bairro: {{yearMaxNumber}}</p>
				</div>
			</div>
			<div class="col">
				<input id="prediction" type="text"
					name="predicao"
					data-provide="slider"
					data-slider-id="prediction"
					data-slider-ticks="[2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021]"
					data-slider-ticks-labels='["2010", "2011", "2012", "2013", "2014", "2015", "2016", "2017", "2018", "2019", "2020", "2021"]'
					data-slider-rangeHighlights='[{ "start": 2018, "end": 2021, "class": "orange" }]'
					data-slider-min="2010"
					data-slider-max="2021"
					data-slider-step="0.083"
					data-slider-value='{{ sliderValue }}'
					data-slider-tooltip="hide"
				/>
			</div>
			<div class="col">
				<i class="fa fa-info-circle info" title="Os dados do intervalo laranja são previsões obtidas a partir de dados casos da doença entre os anos 2010 e 2017, além de informações de ambiente."></i>
			</div>
		</div>
	</form>

	<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>
	<script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"></script>
	<script src="https://unpkg.com/heatmap.js@2.0.5/build/heatmap.min.js"></script>
	<script src="https://unpkg.com/leaflet-heatmap@1.0.0/leaflet-heatmap.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.6.2/bootstrap-slider.min.js" integrity="sha256-oj52qvIP5c7N6lZZoh9z3OYacAIOjsROAcZBHUaJMyw=" crossorigin="anonymous"></script>

	<script type="text/javascript">
		var tiles = L.tileLayer('https://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}{r}.png', {
			maxZoom: 18,
			attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors &copy; <a href="https://carto.com/attributions">CARTO</a>'
		}),

		latlng = L.latLng(-22.925984, -43.432323);
		map = L.map('map-prediction', { center: latlng, zoom: 11, layers: [tiles] });

		cluster = L.markerClusterGroup({
			chunkedLoading: true,
			iconCreateFunction: function(cluster) {
				var markers = cluster.getAllChildMarkers();
				var n = 0;
				for (var i = 0; i < markers.length; i++) {
					n += markers[i].number;
				}

				if (n < 2000) {
					className = 'map-marker marker-2k a-class';
					size = 44;
				} else if (n < 6000) {
					className = 'map-marker marker-6k a-class';
					size = 64;
				} else if (n >= 10000) {
					className = 'map-marker marker-10k a-class';
					size = 84;
				}
				return L.divIcon({ html: n, className: className, iconSize: L.point(size, size) });
			},
		});

		heatmap = [];
		markerList = [];
		points = '{{ points|tojson }}';
		year_max = '{{ yearMaxNumber }}';

		$.each(JSON.parse(points), function(i, latlong) {
			lat = latlong[0]
			lon = latlong[1]
			num_cases = latlong[2]

			if (num_cases > 0) {
				icon = L.divIcon({ html: num_cases, className: 'map-marker marker-single a-class', iconSize: L.point(30, 30) });
				if (num_cases >= 1000) {
					icon = L.divIcon({ html: num_cases, className: 'map-marker marker-1k a-class', iconSize: L.point(30, 30) });
				}
				marker = L.marker(L.latLng(lat, lon), {icon: icon})
				marker.latlong = [lat, lon];
				marker.number = num_cases;
				marker.clusterOpen = false;
				marker.cluster = null;
				marker.id = num_cases;
				markerList.push(marker);

				heatmap.push({lat: latlong[0], lng: latlong[1], count: num_cases});
			}
		});

		cluster.addLayers(markerList);
		map.addLayer(cluster);

		var heatmap_config = {
			"radius": 80,
			latField: 'lat',
			lngField: 'lng',
			valueField: 'count',
			gradient: { 0.01: "#28CDAB", 0.5: "#fffd57", 0.75: "#e15858"},
		};
		
		heatdata = {max: year_max, data: heatmap}
		heat_layer = new HeatmapOverlay(heatmap_config);
		heat_layer.setData(heatdata);
		map.addLayer(heat_layer);

		// Slider
		$('#prediction').slider().on('change', function() { $("#prediction-form").trigger("submit"); })

  </script>

</body>
</html>
